#job_id = 469412575131163

name: CI/CD - Run Databricks Tests

on:
  push:
    branches: [ main ]

jobs:
  run-databricks-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Databricks CLI
        run: pip install databricks-cli

      - name: Configure Databricks CLI
        run: |
          databricks configure --token <<EOF
          ${{ secrets.DATABRICKS_HOST }}
          ${{ secrets.DATABRICKS_TOKEN }}
          EOF

      - name: Trigger Databricks Job
        id: run_job
        run: |
          databricks jobs run-now --job-id 469412575131163

      - name: Wait for Job completion
        run: |
          run_id=$(databricks jobs run-now --job-id 469412575131163 --json | jq -r '.run_id')
          databricks runs get --run-id $run_id
